esh-task-manager > app-main {
  width: 100%;
  height: 100%;
}

esh-task-manager table {
  position: relative;
  color: var(--esh-gray-darker);
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

esh-task-manager table tbody tr {
  border-bottom: 1px solid var(--esh-grey-lighter);
}

esh-task-manager table tbody td {
  padding: 10px;
  background-color: #FFF;
  text-align: left;
  vertical-align: middle;
}

esh-task-manager table tbody td ui-icon {
  display: block;
}

esh-task-manager table tbody td.flex-box {
  height: 28px;
}

esh-task-manager table tbody td.td-center,
esh-task-manager table thead th.th-center {
  text-align: center;
}

esh-task-manager table tbody td.td-icon ui-icon {
  margin-bottom: -1px;
}

esh-task-manager table th {
  padding: 10px;
  background-color: #F0F0F0;
  text-align: left;
  vertical-align: middle;
  font-weight: lighter;
}

esh-task-manager table thead tr {
  border-bottom: 1px solid var(--esh-grey-lighter);
}

esh-task-manager > status-bar {
  width: 100%;
  border-top: 1px solid var(--esh-grey-lighter);
  min-height: 32px;
  max-height: 32px;
}

esh-task-manager > status-bar > input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 10px;
  background-color: transparent;
  color: #464646;
}

esh-task-manager > status-bar > button {
  border: none;
  height: 100%;
  background-color: #FFF;
  border-left: 1px solid #DDD;
}

@media screen and (max-width: 767px) {
  esh-task-manager table {
    width: auto !important;
  }
  esh-task-manager table col {
    width: auto !important;
  }
  esh-task-manager > app-main {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto 0px;
  }
}