{{#-in-element applicationRoot}}

  {{shell/window/title-bar}}

  {{shell/app-main}}

  {{#shell/window/status-bar}}
    {{input value=execAppName}}<button {{action 'startApp' execAppName}}>Execute!</button>
  {{/shell/window/status-bar}}

{{/-in-element}}