{{#-in-element applicationElement}}

  {{shell/window/title-bar application}}

  {{#shell/app-main application}}
    {{outlet}}
  {{/shell/app-main}}

  {{#shell/window/status-bar application}}
    {{input value=execAppName}}<button {{action 'startApp' execAppName}}>Execute!</button>
  {{/shell/window/status-bar}}

{{/-in-element}}